.cache
**/.*env
activate
*.pyc
**/__pycache__
dist
.eggs
*.egg-info
build
*.swp
*.orig
.project
.pydevproject
.idea
*~
.coverage
!docker/build
_testing_output
.vscode
.git
.mypy_cache
.eggs
ignored
**/.ipynb_checkpoints
.s3_cache
