.cache
.*env
activate
*.pyc
__pycache__
dist
.eggs/
*.egg-info
build/
*.swp
*.orig
.project
.pydevproject
.idea
*~
.coverage*
!docker/build
!bin/build
VERSION
_version.py.bld
.pytest_cache/
.cicd/build.log
.cicd/ops
.cicd/docker-config
.ipynb_checkpoints
.Trash-*
.vscode
**/_tmp
.data
scripts/unicode/*.txt
scripts/unicode/*.zip
scripts/unicode/Tools
*.so
